body {
    background: linear-gradient(#EDC7B7, #FDF6EC);
    background-attachment: fixed;
}

header {
    margin-bottom: 30px;
}

.aboutUs-heading {
    font-family: "Great Vibes", cursive;
    color: #E7717D;
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
}

/* Slider */

.slider {
    position: relative;
    max-width: 700px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 75px;
    border-radius: 20px;
    border: 2px solid #E7717D;

    -webkit-box-shadow: 1px 1px 10px 0px rgba(231,113,125,0.3);
    -moz-box-shadow: 1px 1px 10px 0px rgba(231,113,125,0.3);
    box-shadow: 1px 1px 10px 0px rgba(231,113,125,0.3);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}