body {
    background: linear-gradient(#EDC7B7, #FDF6EC);
    background-attachment: fixed;
}

.main__first-view {
    text-align: center;
}

.evento {
    font-family: "Alex Brush", cursive;
    font-size: 128px;
    color: #E7717D;
}

.evento-description {
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    margin-bottom: 36px;
}

.button-start {
    font-family: "Great Vibes", cursive;
    font-size: 48px;
    width: 274px;
    height: 78px;
    background-color: #E7717D;
    border-radius: 8px;
    border: none;
    color: #FDF6EC;
    margin-bottom: 196px;
}

.us__heading {
    font-family: "Great Vibes", cursive;
    font-size: 36px;
    color: #E7717D;
}

.us__description {
    font-size: 24px;
    margin-bottom: 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 65px;
    margin-bottom: 128px;
}

.card {
    padding-left: 56px;
    position: relative;
}

.card__logo {
    position: absolute;
    left: 0;
}

.card__heading {
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    color: #E7717D;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

.photo {
    width: 47%;
    border-radius: 15px;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(231,113,125,0.3);
    -moz-box-shadow: 1px 1px 10px 0px rgba(231,113,125,0.3);
    box-shadow: 1px 1px 10px 0px rgba(231,113,125,0.3);
}