@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #5B301E;
}

body {
    background: linear-gradient(#EDC7B7, #FDF6EC);
    background-attachment: fixed;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button:hover {
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 40px;
    padding-bottom: 32px;
    height: 100px;
    margin-bottom: 150px;
    /* background-color: #efd0c3;*/
     /* background: linear-gradient(#EDC7B7, #FDF6EC); */
    box-sizing: border-box;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(231,113,125,0.2);
    -moz-box-shadow: 0px 1px 10px 0px rgba(231,113,125,0.2);
    box-shadow: 0px 1px 10px 0px rgba(231,113,125,0.2);
    position: sticky;
}

.header__logo {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.header__right-side {
    display: flex;
    flex-direction: row;
}

#btn-login:hover {
    cursor: pointer;
}

.nav__list {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    margin-right: 36px;
}

.nav__item {
    height: 22px;
    padding: 8px;
    margin-right: 16px;
    /* background-color: #EDC7B7; */
    border-radius: 8px;
}

.header__login {
    display: flex;
    flex-direction: row;
}

.login-logo {
    width: 40px;
    height: 40px;
    padding-top: 14px;
    margin-right: 8px;
}

.login-text {
    padding-top: 24px;
}

.container {
    padding-left: 64px;
    padding-right: 64px;
}

.main__first-view {
    text-align: center;
}

.evento {
    font-family: "Alex Brush", cursive;
    font-size: 128px;
    color: #E7717D;
}

.evento-description {
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    margin-bottom: 36px;
}

.button-start {
    font-family: "Great Vibes", cursive;
    font-size: 48px;
    width: 274px;
    height: 78px;
    background-color: #E7717D;
    border-radius: 8px;
    border: none;
    color: #FDF6EC;
    margin-bottom: 196px;
}

.us__heading {
    font-family: "Great Vibes", cursive;
    font-size: 36px;
    color: #E7717D;
}

.us__description {
    font-size: 24px;
    margin-bottom: 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 65px;
    margin-bottom: 128px;
}

.card {
    padding-left: 56px;
    position: relative;
}

.card__logo {
    position: absolute;
    left: 0;
}

.card__heading {
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    color: #E7717D;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

.photo {
    width: 47%;
    border-radius: 15px;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(231,113,125,0.3);
    -moz-box-shadow: 1px 1px 10px 0px rgba(231,113,125,0.3);
    box-shadow: 1px 1px 10px 0px rgba(231,113,125,0.3);
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo {
    width: 70px;
    margin-bottom: 36px;
}

.social-logo {
    width: 50px;
    margin-right: 20px;
}

.footer-evento {
    font-family: "Alex Brush", cursive;
    font-size: 150px;
    color: #E7717D;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.footer__nav {
    width: 280px;
    padding-left: 20px;
    box-sizing: border-box;
}

.footer__list-heading {
    font-size: 32px;
    margin-bottom: 16px;
    color: #E7717D;
}

.footer__list-item {
    margin-bottom: 10px;
}

.footer__nav-link {
    font-size: 26px;
    color: #E7717D;
}

.modal {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5); 
}

.wrapper {
    position: relative;
    width: 30%;
    height: 440px;
    background-color: #edcdc0;
    border: 1px solid #E7717D;
    border-radius: 10px;
    padding: 30px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 40px;
    margin: 7% auto;
}

.form1 {
    text-align: center;
}

.form-heading {
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    color: #5B301E;
    margin-bottom: 10px;
    text-align: center;
}

.form1 input {
    width: 400px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #E7717D;
    margin-top: 15px;
}

.form1 input::placeholder {
    color: #E7717D;
    padding: 8px;
}

.forgot {
    display: block;
    color: #E7717D;
    margin-top: 5px;
    margin-bottom: 15px;
    text-decoration: underline;
}

.form1 button {
    width: 400px;
    font-size: 26px;
    padding: 5px;
    background-color: #E7717D;
    color: #FDF6EC;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
}

.or {
    margin-bottom: 10px;
}

.no-acc {
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5); 
}

.wrapper2 {
    position: relative;
    width: 30%;
    height: 440px;
    background-color: #edcdc0;
    border: 1px solid #E7717D;
    border-radius: 10px;
    padding: 30px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 40px;
    margin: 7% auto;
}

.form2 input {
    width: 450px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #E7717D;
    margin-bottom: 10px;
}

.form2 input::placeholder {
    color: #E7717D;
    padding: 8px;
}

.form2 button {
    width: 400px;
    font-size: 26px;
    padding: 5px;
    background-color: #E7717D;
    color: #FDF6EC;
    border: none;
    border-radius: 8px;
}

.reg {
    margin-bottom: 2px;
}

.fin-btn {
    text-align: center;
}

#fin-reg-btn {
    margin-top: 20px;
}

/* cross */
.closeModal {
	position: absolute;
	top: 30px;
	right: 20px;
	width: 24px;
	height: 24px;
	opacity: 0.3;
	cursor: pointer;
  transition: opacity ease 0.5s;

	&:hover {
		opacity: 1;
	}
}

.closeModal::before,
.closeModal::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 24px;
	height: 3px;
	background: #E7717D;
}

.closeModal::before {
	transform: rotate(45deg);
}

.closeModal::after {
	transform: rotate(-45deg);
}

.welcome-evento {
    font-family: "Alex Brush", cursive;
    font-size: 32px;
    color: #E7717D;
    margin-bottom: 10px;
    text-align: center;
}