body {
    background-image: url(../source/bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

footer {
    overflow-y: 1;
    background-color: rgba(237,199,183, 0.9);
}

header {
    background-color: rgba(237,199,183, 0.8);
}

.main__first-view {
    text-align: left;
}

.evento {
    font-family: "Alex Brush", cursive;
    font-size: 128px;
    color: #E7717D;
}

.evento-description {
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    margin-bottom: 36px;
    margin-bottom: 210px;
}

.benefit-heading {
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    margin-bottom: 10px;
}

.benefit-description {
    font-size: 24px;
    width: 700px;
    margin-bottom: 50px;
}

.buy-description {
    font-family: "Great Vibes", cursive;
    font-size: 60px;
    color: #E7717D;
    width: 600px;
    margin-top: 250px;
    margin-bottom: 40px;
}

.buy-button {
    font-family: "Great Vibes", cursive;
    font-size: 48px;
    width: 274px;
    height: 78px;
    background-color: #E7717D;
    border-radius: 8px;
    border: none;
    color: #FDF6EC;
    margin-bottom: 80px;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo {
    width: 70px;
    margin-bottom: 36px;
}

.social-logo {
    width: 50px;
    margin-right: 20px;
}

.footer__content {
    height: 300px;
    margin-bottom: 0;
}